<div class="media-container">
    <div class="form-group">
        <input class="form-control" type="text" placeholder="Search" ng-model="query">
    </div>
    <div class="form-group">
        <select class="form-control"
            ng-model="selectedMedia"
            ng-options="media.type as media.name for media in availableMedia"
            ng-change="getMediaList()"
            placeholder="Select Media">
        </select>
    </div>
    <div>
        <table class="table" ng-if="!isHideList">
            <thead>
                <th>Track name</th>
                <th>Art Work</th>
                <th>Preview</th>
            </thead>
            <tbody>
                <tr data-ng-repeat="media in results | filter : query">
                    <td>
                        {{media.trackName}}
                    <td>
                        <img src="{{media.artworkUrl100}}"></img>
                    </td>
                    <td>
                        <a href="" ng-click="getPreviewUrl(media.previewUrl,media.kind)"><span class="glyphicon glyphicon-play-circle play-btn"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <preview-media preview-url="previewUrl" type="mediaType" is-hide-list="isHideList"><preview-media>
        <data-uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true"></data-uib-pagination>
    </div>
</div>
