<div >
    <div class="media-player" ng-if="isPreview">
        <ul>
            <li>
                <a href="" ng-click="closeMedia()">X</a>
            </li>
            <li>
                <video controls="true" src="{{newUrl}}" type="{{settings}}" autoplay="true"></video>
            </li>
        </ul>
    </div>
</div>
