<div class="login-container">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Email" data-ng-model="login.email">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" data-ng-model="login.password">
    </div>
    <button class="btn btn-primary" ng-click="submit()">Login</button>
</div>
